<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>All books</title>
   </head>
   <body>
      <div class="">
         <h1>All Books</h1>
         <table>
            <thead>
               <tr>
                  <th>Title</th>
                  <th>Publish Date</th>
                  <th>Page Count</th>
                  <th>subject</th>
                  <th>Author</th>
               </tr>
            </thead>
            <tbody>
               <% for (let book of books) { %>
                  <tr>
                     <td><%= book.title %></td>
                     <td><%= book.publishDate %></td>
                     <td><%= book.pageCount %></td>
                     <td><%= book.subject %></td>
                     <td><a href="/authors/<%= book.author._id %>"><%= book.author.name %></a></td>
                  </tr>
               <% } %>
            </tbody>
         </table>
         <a href="/"><button type="button" name="button">Back</button></a>
      </div>
   </body>
</html>
